<div class="container align-items-center">
  <div class="row align-items-center">
    <div class="col-xs-10 col-lg-6 card px-2 ">
      <div class="card-body text-center">
        <h2 class="my-2">H+ Alarm</h2>
      </div>
    </div>

    <div class="col-xs-10 col-lg-6 container">
      <div class="row">

        <div class="my-2 row">
          <h1 class="text-center">Iniciar sesión</h1>
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-lg-3 col-form-label">Usuario</label>
          <div class="col-lg-9  ">
            <input #usuario type="text" class="form-control" placeholder="Usuario">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-lg-3 col-form-label">Contraseña</label>
          <div class="col-lg-9">
            <input #contrasena type="password" class="form-control" placeholder="*********">
          </div>
        </div>
        <div class="col-12 text-center mt-3">
          <button (click)="onLogIn()" type="button"
            class="btn btn-warning col-8">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>