<app-header></app-header>
<div class="container mt-4">
  <img src="../../../assets/textura web.png" class="fondo" alt="fondo">
  <div class="row justify-content-center">
    <div class="col-8 pt-4">
      <div class="card mx-3 my-5 bordecard">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <p class="mt-5 mb-2 fs-3 fw-bold texto1 d-flex text-center">Editar Evento</p>
          </div>
        </div>

        <form class="mx-5 my-3">

          <div class="form-group my-2 mb-3">
            <div class="row">
              <div class="col-4 text-start">
                <label class="texto1">Título evento</label>
              </div>
              <div class="col-8">
                <input type="text" class="form-control bordeinput"
                  placeholder="Nombre del evento" value="Endoscopia">
              </div>
            </div>
          </div>

          <div class="form-group my-2 mb-3">
            <div class="row">
              <div class="col-4 text-start">
                <label class="texto1">Responsable</label>
              </div>
              <div class="col-8">
                <select class="form-select bordeinput">
                  <option>Seleccionar</option>
                  <option>Juan López</option>
                  <option selected>Paula Reyes</option>
                  <option>Diana Pérez</option>
                  <option>Pedro García</option>
                  <option>Gabriel Jiménez</option>
                </select>
              </div>
            </div>

          </div>

          <div class="form-group my-2 mb-3">
            <div class="row">
              <div class="col-4 text-start">
                <label class="texto1">Añadir profesionales</label>
              </div>
              <div class="col-8">
                <select class="form-select bordeinput">
                  <option>Seleccionar</option>
                  <option>Juan López</option>
                  <option>Paula Reyes</option>
                  <option>Diana Pérez</option>
                  <option>Pedro García</option>
                  <option selected>Gabriel Jiménez</option>
                </select>
              </div>
            </div>

          </div>

          <div class="form-group my-2 mb-3">
            <div class="row">
              <div class="col-4 text-start">
                <label class="texto1">Fecha</label>
              </div>
              <div class="col-4">
                <input type="number" class="form-control bordeinput" type="date" value="2023-03-20">
              </div>
            </div>
          </div>

          <div class="form-group my-2 mb-3">
            <div class="row">
              <div class="col-4 text-start">
                <label class="texto1">Hora</label>
              </div>
              <div class="col-2">
                <select class="form-select bordeinput">
                  <option>00</option>
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                  <option>05</option>
                  <option>06</option>
                  <option>07</option>
                  <option>08</option>
                  <option>09</option>
                  <option selected>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                </select>
              </div>:
              <div class="col-2">
                <select class="form-select bordeinput">
                  <option selected>00</option>
                  <option>30</option>
                </select>
              </div>
            </div>

          </div>

          <div class="row mt-4 mb-4 pt-3">
            <div class="offset-3 col-3">
              <button class="btn btn-aceptar col-12" (click)="editEvento()">GUARDAR</button>
            </div>
            <div class="col-3">
              <button class="btn btn-cancelar col-12" (click)="cancelEdit()">CANCELAR</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>