<app-header></app-header>
<div class="container mt-4">
  <img src="../../../assets/textura web.png" class="fondo" alt="fondo">
  <div class="row justify-content-center">
    <div class="col-8 pt-4">
      <div class="card mx-3 my-5 bordecard">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <p class="mt-5 mb-2 fs-3 fw-bold texto1 d-flex text-center">Importar Eventos</p>
          </div>
        </div>

        <form class="mx-5 my-3">

          <textarea class="form-control ml-2 mr-2" rows="6" disabled>Arrastre su archivo a esta área .xlsx o .csv</textarea>


          <div class="row mt-4 mb-4 pt-3">
            <div class="offset-3 col-3">
              <button class="btn btn-aceptar col-12" (click)="importEventos()">IMPORTAR</button>
            </div>
            <div class="col-3">
              <button class="btn btn-cancelar col-12" (click)="cancelImport()">CANCELAR</button>
            </div>
          </div>

        </form>

        
      </div>
    </div>
  </div>
</div>